<div class="user-info container">
  <div class="user-details row">
    <h4 class="col s12"><span class="category-title"><%= @user.name %>
    <h4 class="row"><%= @user.email %></h4>
    <hr class="user-page-hr">
    <h4 class="col s12 user-button"><%= "#{@user.credit_cards.first.name} Credit Card" %></h4>
    <h4 class="col s12 user-button"><%= "Balance: #{@user.credit_cards.first.transaction_balance}" %></h4>
    <a href="/transactions/new" class="row enlarge"><h4>Make a payment</h4></a>
  </div>
</div>
